  .divPadreDataList {
    margin-top: 2rem;
    padding: 2rem;
    align-items: center;
  }
  
  .divPadreDataList li p {
    align-items: center;
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: justify;
  }
  
  hr { 
    border: none; 
    border-radius: 8rem;
    height: 1.5rem; 
    background: linear-gradient(to left, #7035C0, #0396FE);
    margin: 3rem 0 3rem 0;
  }
  
  .botonImagen {
    display: flex;
  }

  .image-link-button {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    color: aliceblue;
    font-size: 1.2rem;
    background: linear-gradient(to left, #7035C0, #0396FE);
    
  }