.containerRegisterGral {
  padding: 0.1rem;
  background-color: #0e0d0d;
  /* background: no-repeat center 100%/cover url(../../assets/bgGrilla.jpg); */
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.containerRegisterGral label {
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
  margin-block: 1rem;
}
.contentRegister {
  width: 100%;
  height: 40vh;
  padding-inline: 1.5rem;
  text-align: center;
}
.contentRegister p {
  margin-top: 1.5rem;
}
.contain-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
}
.input-recovery-pass {
  outline: none;
  padding: .2rem;
  margin-bottom: .5rem;
}
.contain-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
}
.btnInputReg {
  border: none;
  border-radius: 0 15px;
  background: linear-gradient(to right, #7035C0, #0396FE);
  color: #fff;
  align-self: center;
  padding: .4rem 1rem;
  margin-bottom: 1rem;
}