.containerFluid {
    padding: 0 !important;
    background-color: #000;
}
.navbar-container {
    height: 100px;
    padding: 0 !important;
}
.nav-flex-column {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0;
    padding: 10px 0 0;
    width: 100%;
    height: 100px;
}
.navbar-links {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
.navbar-scroll-color {
    background-color: #000;
    transition: all 0.3s linear;
}
.group-links {
    display: flex;
    text-align: center;
}
.group-links .navLink {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    position: relative;
}
/*efecto subrayado*/
.navLink::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    background: linear-gradient(to right, #7035C0, #0396FE);
    height: 1px;
    width: 0;
    transition: 0.3s;
}
.navLink:hover::before {
    width: 100%;
}
.brandLink {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
}
.brandLink:hover {
    color: #fff;
}
.brandLink span {
    color: #7035C0;
}
.boxIcon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonIcon {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    margin: 0 5px;
}
.boxUser {
    position: relative;
}
.boxLoginRegister {
    position: absolute;
    right: 10px;
    background-color: #fff;
    border: 1px solid black;
    height: 0;
    overflow: hidden;
    width: 100px;
    transition: all 0.2s;
}
.visible {
    height: 70px;
    overflow: visible;
    transition: all 0.2s;
}
.contador {
    position: absolute;
    top: -5px;
    right: 3px;
    background: linear-gradient(to right, #7035C0, #0396FE);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.7rem;
    width: 15px;
}
@media (max-width: 768px) {
    .navbar-container {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}