.section-product-detail {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 4.5rem 2rem;
}
.product-detail-container {
  padding-inline: 2rem;
  row-gap: 1.5rem;
}
.linkBack {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  width: 60px;
  margin-bottom: 8px;
}
.linkBack:hover{
  color: #fff;
}
.product-title {
  color: #fff;
  font-weight: 700;
}
.product-description {
  color: #6d717a;
}
.boxCateogy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
}
.boxCateogy .category {
  background: linear-gradient(to left, #7035c0, #0396fe);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 0.9rem;
  margin-right: 5px;
  padding: 0 7px;
}
.boxCateogy button {
  background-color: transparent;
  border: none;
  color: #fff;
  margin: 0 5px;
}
.icon {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}
.boxCateogy p {
  color: #fff;
  font-size: 0.9rem;
  margin: 5px 0;
}
.boxDetail {
  display: flex;
  color: #6d717a;
  font-size: 0.9rem;
  width: auto;
}
.boxDetail p {
  margin-right: 10px;
}
.boxInputSelect {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
}
.boxInputSelect label {
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.boxInputSelect select {
  background: transparent;
  border: 1px solid #6d717a;
  border-radius: 0px 15px;
  color: #6d717a;
  padding: 8px;
  width: 100%;
}
.boxPrice1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.boxPrice1 .precio {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.boxPrice1 .boxQuantity {
  display: flex;
  color: #6d717a;
}
.boxQuantity p {
  margin-right: 10px;
}
.boxQuantity .lbl {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #6d717a;
  border-radius: 0px 10px;
  height: 30px;
  width: 100px;
}
.boxQuantity .lbl button {
  background-color: transparent;
  border: none;
  color: #6d717a;
  font-size: 1.2rem;
}
.boxBuyAndAdd button {
  border: 1px solid transparent;
  background: linear-gradient(to right, #7035c0, #0396fe);
  border-radius: 0px 10px;
  color: #fff;
  margin-right: 20px;
  padding: 0.3rem 1.2rem;
  transition: all 0.2s;
}
.boxBuyAndAdd button:hover {
  background: transparent;
  border: 1px solid #6d717a;
  color: #6d717a;
  transition: all 0.2s;
}
.containerPictures {
  width: 100%;
  display: grid;
  place-content: center;
}
.borderColorBox {
  /*bordes*/
  background: linear-gradient(to right, #6f35c091, #0395fe91);
  border-radius: 0px 15px;
  padding: 2px;
}
.container-img {
  background-color: #000;
  border-radius: 0px 15px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 35px 0;
}
.container-img img {
  width: 300px;
  transition: all 0.3s;
}
.container-img img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 1rem #7035c0);
}
.iconHeart {
  color: red;
}
@media screen and (min-width: 320px) {
  .boxPrice1 {
    padding: 1rem 0;
  }
  .boxPrice1 .precio {
    font-size: 1.3rem;
  }
  .boxBuyAndAdd {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .boxBuyAndAdd button {
    margin: 0;
    white-space: nowrap;
    padding: 0.3rem 0.7rem;
  }
  .containerPictures {
    margin: 2rem 0;
    height: 100%;
    width: 100%;
  }
  .container-img img {
    width: 90%;
  }
}
@media screen and (min-width:425px) {
  .product-detail-content {
   padding-inline: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .product-detail-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .container-img img {
    width: 95%;
  }
}
@media screen and (min-width: 1440px) {
  .product-detail-container {
    grid-template-columns: repeat(2, 1.5fr);
  }
  .product-description {
    font-size: 1.1rem;
  }
  .boxInputSelect, .boxPrice1, .boxBuyAndAdd {
    width: 400px;
  }
}