/* Seccion Best Product */
.bgBProduct {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.circleBlue {
  position: absolute;
  background: radial-gradient(#0385fe, #0120ad);
  border: none;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  top: 15%;
  right: 25%;
}
.bestProduct {
  display: grid;
  position: relative;
  background-color: transparent;
  backdrop-filter: blur(40px);
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.bestProductHead {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  height: 30%;
}
.bestProductTitle {
  align-self: flex-start;
  text-align: initial;
}
.bestProductSubt {
  font-size: 0.8rem;
  color: #6d717a;
  font-weight: 700;
}
.boxBtnBP {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bestProductBody {
  place-items: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
}
.borderCardBestProd {
  width: 300px;
  height: 350px;
  background: linear-gradient(to right, #6f35c0b2, #0395fe91);
  border-radius: 0px 15px;
  padding: 2px;
}
.bestProductDespriction {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 15px;
  padding: 1rem 1.5rem;
}
.bestProductDespriction h4 {
  font-weight: 700;
}
.bestProductDespriction p {
  font-size: 0.9rem;
}
.btnBestProduct {
  border: 2px solid #6d717a;
  color: #6d717a;
  border-radius: 0px 10px;
  background: transparent;
  padding: 5px 15px;
  transition: all 0.3s;
  cursor: pointer;
  width: 60%;
  text-decoration: none;
}
.btnBestProduct:hover {
  background: linear-gradient(to right, #7035c0, #0396fe);
  color: #fff;
  transition: all 0.3s;
}
/* MediaQuery */
@media screen and (min-width: 320px) {
  .bestProduct {
    place-content: center;
  }
  .bestProductHead {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  .bestProductSubt {
    color: #fff;
  }
  .bestProductBody {
    grid-template-columns: 1fr;
  }
  .borderCardBestProd {
    width: 280px;
    height: auto;
  }
  .boxImgBP1,
  .boxImgBP2 {
    width: 300px;
  }
  .boxImgBP1 {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .bestProductHead {
    grid-template-columns: repeat(3, 1fr);
  }
  .btnBestProduct {
    font-size: .9rem;
  }
  .bestProductBody {
    grid-template-columns: repeat(2, 1fr);
  }
  .boxImgBP1,
  .boxImgBP2 {
    width: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .bestProductBody {
    grid-template-columns: repeat(3, 1fr);
  }
  .boxImgBP1 {
    display: block;
  }
  .boxImgBP1,
  .boxImgBP2 {
    width: 420px;
  }
  .bestProductSubt {
    color: #6d717a;
  }
  .btnBestProduct {
    font-size: 1rem;
  }
}