.containerRegisterGral {
  position: relative;
  display: grid;
  place-items: center;
  height: 100%;
  padding-top: 4.5rem;
}
.containerForm {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.containerForm form {
  border: none;
  border-radius: 0 15px;
  box-shadow: 0 0 .4rem 0 rgba(250, 250, 250, 0.5);
  background-color: #111111cb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 0 .5rem;
  backdrop-filter: blur(16px);
}
.containerForm .boxTitleRegister {
  display: flex;
  width: 100%;
  color: #7c7c7c;
  padding-top: 10px;
  border-bottom: 1px solid #bdbdbd;
}
.containerForm .boxInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}
.containerForm form .campo {
  background-color: transparent;
  border: 1px solid #a8a8a8;
  border-radius: 0 15px;
  color: #6d717a;
  font-size: 0.9rem;
  padding: 8px 20px;
  margin-bottom: .5rem;
}
.containerForm form .campo:focus {
  outline: none;
}
.containerForm .boxInput label {
  font-weight: 600;
  font-size: 0.9rem;
  color: #7c7c7c;
  margin: .5rem 0;
}
.containerForm .btnInputReg {
  background: linear-gradient(to right, #7035c0, #0396fe);
  border: none;
  border-radius: 0px 10px;
  font-size: 0.9rem;
  color: #fff;
  margin: 3px;
  padding: 0.5rem 1rem;
  width: 130px;
  cursor: pointer;
}

/* Media Query */
@media (min-width: 320px) and (max-width: 425px) {
  .containerForm {
    height: 100%;
    padding: 0 5px;
  }
  .containerForm form {
    width: 90%;
    height: 90%;
  }
}
@media screen and (min-width:768px) {
  .containerForm form {
    height: 90%;
  }
}