.divPadreAdministracion {
  display: flex;
}

.divPadreInputModal {
  display: flex;
  color: black;
}

.error {
  color: red;
}

.divPadreInputModal div p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-align: justify;
}

.formularioModal label {
  margin: 0.5rem;
  color: black;
  display: flex !important; 
  flex-direction: column !important;
}
