.divPadreAdministracion {
  display: grid;
  padding: 1rem;
  background-color: #111;
}

.divPadreInput {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  color: white;
}

h3 {
  color: white;
}

.error {
  color: red;
}

.enviado {
  color: green !important;
}

.divPadreInput div p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: justify;
}

hr { 
  border: none; 
  border-radius: 8rem;
  height: 1.5rem; 
  background: linear-gradient(to left, #7035C0, #0396FE);
  margin: 3rem 0 3rem 0;
}

.formulario label {
  margin: 0.5rem;
  color: white;
  display: flex !important; 
  flex-direction: column !important;
}

.formulario button {
  border-radius: 0.5rem;
  color: aliceblue;
  font-size: 1.2rem;
  height: 2rem; 
  background: linear-gradient(to left, #7035C0, #0396FE);
  margin: 2rem 0 3rem 0;
}