.adminForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
}
.box-input-admin {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}
.input-field {
  border: none;
  border-radius: .3rem;
  padding: .5rem;
  outline: none;
}
.adminForm button {
  align-self: center;
  font-size: 1.1rem;
  padding: .2rem .6rem;
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid #5c5c5c;
  border-radius: .2rem;
  color: #fff;
}
.adminForm button:hover {
  background-color: #00c000;
  transition: all .3s;
}
.error {
  color: red;
}
.enviado {
  color: green !important;
}
hr { 
  border: none; 
  border-radius: 8rem;
  height: .5rem; 
  background: linear-gradient(to left, #7035C0, #0396FE);
}
@media screen and (max-width: 320px) {
  .inputAdmin-section {
    padding-inline: .5rem;
  }
}
@media screen and (min-width: 375px) {
  .inputAdmin-section {
    padding-inline: 1rem;
  }
}