.section-footer {
    height: 100%;
    width: 100%;
    background-color: #000;
    padding: 1rem 0;
}
.containerFooter {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    row-gap: 1.5rem;
    height: 100%;
    color: #fff;
    text-align: center;
}
.containerSocialFooter {
    text-align: center;
}
.about-description {
    font-size: .9rem;
}
.linksFoot {
    text-decoration: none;
    color: #fff;
}
.social-list {
    display: flex;
    flex-direction: column;
    
}
@media screen and (max-width: 320px) {
    .about-logo{
        padding: 0  1rem;
        font-size: .7rem;
    }
    .about-logo h6 {
        font-size: .7rem;
    }
}
@media screen and (min-width:425px){
    .containerFooter{
        padding: 0 1.5rem;
    }
}
@media screen and (min-width: 768px) {
    .containerFooter {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
    .containerSocialFooter ul {
        display: flex;
        flex-direction: column;
    }
}
.about-logo {
    display: flex;
    background-color: #111;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.box-logo-rs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-size: .8rem;
}
.logoRolling {
    background-color: #000;
    font-size: 1.8rem;
    border: 3px solid #fff;
    color: #fff;
    border-radius: 50%;
    display: grid;
    place-content: center;
    width: 35px;
    height: 35px;
    margin: 0 1rem;
}
.linkRolling {
    text-decoration: none;
    color: white;
  }
.linkRolling:hover{
    color: white;
}
  