.containerRegisterGral {
  padding: 0.1rem;
  background: no-repeat center 100%/cover url(../../assets/bgGrilla.jpg);
  color: #fff;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}

.contain-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contain-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
}