.navbar-form {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 5px 0;
    width: 100%;
}
.invisible {
    display: none;
    transition: all 0.3s linear;
}
.search-button {
    position: absolute;
    margin: 5px 2px;
    border: none;
    background-color: transparent;
    color: #6D717A;
    width: 40px;
}
.input-navbar {
    background-color: transparent;
    border: 1px solid #6D717A;
    border-radius: 0 15px;
    color: #6D717A;
    font-size: 0.9rem;
    padding: 7px 5px 7px 42px;
    width: 300px;
}
.input-navbar:focus {
    outline: none;
}