.navbar-form {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 5px 0;
    width: 100%;
}
.invisible {
    display: none;
    transition: all 0.3s linear;
}
.boxInput {
    position: relative;
}
.search-button {
    position: absolute;
    left: 0;
    top: 5px;
    border: none;
    background-color: transparent;
    color: #6D717A;
    width: 40px;
}
.input-navbar {
    background-color: transparent;
    border: 1px solid #6D717A;
    border-radius: 0 15px;
    color: #6D717A;
    font-size: 0.9rem;
    padding: 7px 5px 7px 42px;
    width: 300px;
}
.input-navbar:focus {
    outline: none;
}
.containerShowResults {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.3s;
}
.containerShowResults .containerResults {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #000;
    padding-top: 70px;
    margin-top: 3px;
    max-height: 300px;
    overflow-y: scroll;
    width: 300px;
}
.cardResults {
    display: flex;
    align-items: center;
    padding: 3px;
}
.cardResults img {
    margin-right: 5px;
    width: 60px;
}
.btnGeneral {
    background: linear-gradient(to right, #7035C0, #0396FE);
    border-radius: 0px 10px;
    font-size: 0.9rem;
    color: #fff;
    margin: 3px;
    padding: 0.5rem 1rem;
    width: 120px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #000;
}
::-webkit-scrollbar-thumb{
    background-color: #6D717A;
    border-radius: 5px;
}