.btn-login {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  border: none;
}
.btn-login:hover {
  color: hsl(265, 57%, 48%);
  transition: color 0.3s;
}
.sectionLogin {
  position: absolute;
  top: -1000%;
  left: calc(50% - 160px);
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  opacity: 0;
  z-index: 15;
}
.sectionLogin.active {
  top: 10rem;
  opacity: 1;
  transition: all .4s;
}
.modalContent {
  display: grid;
  place-content: center;
  background-color: #111111bb;
  backdrop-filter: blur(20px);
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(250, 250, 250, 0.5);
  color: #fff;
  font-size: 0.9rem;
  height: 390px;
  width: 300px;
}
.boxButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btnCerrar {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
}
.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.formLinks {
  text-decoration: none;
  align-self: flex-start;
  padding-inline: 0.5rem;
  margin-block: 0.25rem;
}
.formLinks:hover {
  color: #fff;
}
.boxLabel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.checkbox label {
  font-size: 0.8rem;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.formLogin input {
  background-color: transparent;
  border: 1px solid #6d717a;
  border-radius: 0 15px;
  color: #6d717a;
  font-size: 0.9rem;
  padding: 7px 5px 7px 42px;
  width: 100%;
  margin: 0.3rem 0;
}
.btnSesionModal {
  cursor: pointer;
  border: 1px solid transparent;
  background: linear-gradient(to right, #7035c0, #0396fe);
  border-radius: 0px 10px;
  color: #fff;
  font-size: 1rem !important;
  margin: .7rem 0;
  padding: .3rem 1.2rem;
}
.btn-google-login {
  width: 100%;
  display: grid;
  place-items: center;
  padding-block: .2rem .3rem;
}
.show-psw, .hidden-psw {
  position: absolute;
  right: -.6rem;
  bottom: .6rem;
  width: 45px;
  background-color: transparent;
  border: none;
  color: #fff;
}
.show-psw.active {
  display: none;
}
.hidden-psw {
  display: none;
}
.hidden-psw.active {
  display: block;
}
.error {
  color: #f80202;
  font-size: 0.8rem;
}

.exito {
  color: #05a705;
  font-size: 0.8rem;
}
@media screen and (max-width: 320px) {
  .sectionLogin.active {
    top: 7rem;
    left: -3.3rem;
    z-index: 1;
  }
  .modalContent {
    background-color: #111;
    width: 300px;
    padding: 0.2rem;
  }
  .boxLabel {
    width: 90%;
  }
}
@media screen and ( 321px < width <= 425px ) {
  .sectionLogin {
    left:-2rem;
  }
  .sectionLogin.active {
    top: 7rem;
    left: -2rem;
    z-index: 1;
  }
  .modalContent {
    background-color: #111;
  }
}
@media screen and (426px < width <= 768px) {
  .sectionLogin {
    left:-7rem;
  }
  .sectionLogin.active {
    top: 7rem;
    left: -7rem;
    z-index: 1;
  }
  .modalContent {
    background-color: #111;
    width: 300px;
    padding: 0.2rem;
  }
  .boxLabel {
    width: 90%;
  }
}