.header-catalogo {
    width: 100%;
    height: 2rem;
    padding-top: 5.5rem;
    text-align: center;
    background-color: #111;
    color: #fff;
}
.section-catalogo {
    background-color: #111;
    color: #fff;
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.container-filters {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding-left: 1rem;
    row-gap: 1.5rem;
    margin-bottom: .5rem;
}
.container-filters label {
    padding-inline: 0 .5rem;
}
.filter-price {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.filter-price span {
    padding-left: .5rem;
}
.filter-category select {
    padding: .2rem .5rem;
    text-align: center;
}
.filter-category option {
    font-weight: 600;
    text-align: center;
}
.container-catalogo {
    height: 100%;
    width: 100%;
}
/* Card's styles */
.container-cards-catalogo {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
    width: 100%;
}
.box-btn-catalogo {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.btn-catalogo {
    background: linear-gradient(to right, #7035C0, #0396FE);
    border: none;
    border-radius: 0 10px;
    color: #fff;
    padding: .4rem .8rem;
}
.btn-catalogo:hover {
    background: transparent;
    border: 1px solid #303030;
    transition: all .4s;
}
.btn-catalogo-filter {
    width: 5rem;
    margin: .5rem auto;
    border: 2px solid #303030;
    border-radius: 0 10px;
    background-color: transparent;
    color: #fff;
}
.btn-catalogo-filter:hover {
    background: linear-gradient(to right, #7035C0, #0396FE);
}

@media screen and (min-width: 720px) {
    .container-cards-catalogo {
        grid-template-columns: repeat(2, 1fr);
    }
    .container-filters {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1024px) {
    .container-cards-catalogo {
        grid-template-columns: repeat(4, 1fr);
    }
}